section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://www.facebook.com/ppratik96')
      div(class="glyph-icon flaticon-facebook3")
    a(href='https://www.linkedin.com/in/ppratik96/')
      div(class="glyph-icon flaticon-linkedin")
    a(href='https://github.com/ppratik96')
      div(class="glyph-icon flaticon-github")
    a(href='https://https://twitter.com/ppratik96')
      div(class="glyph-icon flaticon-twitter")

  hr.bar

  a( class='biglink' href='mailto:ppratik96@gmail.com') ppratik96@gmail.com
